.intro__title{
  font-size: 54px;
  font-weight: 900;
  line-height: 52px;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
}
@media (max-width: 320px){
  .intro__title{
    font-size: 32px;
    line-height: 35px;
    max-width: 248px;
  }
}