.place__website{
  max-height: 46px;
  max-width: 456px;
  display: inline;
  align-self: end;
}
@media (max-width: 710px){
  .place__website{
    grid-row-start: 2;
    padding: 0 16px 0 16px;
  }
}
