.cover{
  display: flex;
  background: no-repeat url(../../img/background.jpg) center;
  background-size: contain;
  flex-direction: column;
  min-height: 740px;
  overflow: hidden;
  justify-content: center;
  position: relative;
  margin: 0 0 92px 0;
  color: white;
  text-decoration: none;
}
.cover:hover .cover__overlay{
  background-color: rgba(42, 44, 47, 0.8);
}
@media (max-width: 1024px){
  .cover{
    min-height: 640px;
  }
}
@media (max-width: 768px){
  .cover{
    min-height: 480px;
    margin: 0 0 88px 0;
  }
}
@media (max-width: 550px){
  .cover{
    min-height: 350px;
    background-size: cover;
  }
}
@media (max-width: 350px){
  .cover{
    min-height: 200px;
    margin: 0 0 64px 0;
  }
}