.place__paragraph{
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  letter-spacing: 0em;
}
.place__paragraph:nth-child(2){
  padding: 26px 0 0 0;
}
@media (max-width: 768px){
  .place__paragraph{
    font-size: 16px;
  }
  .place__paragraph:nth-child(2){
    padding: 25px 0 0 0;
  }
}
@media (max-width:400px){
  .place__paragraph{
    max-width: 288px;
    margin: 0 16px;
    max-height: 468px;
  }
  .place__paragraph:nth-child(2n){
    max-height: 338px;
  }
}

